<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue js project</title>
	<link rel="stylesheet" href="asset/css/bootstrap.min.css">
</head>
<body>
	<div id="app">

		<h1>Count : {{count}}</h1>
		<div class="col-md-3">
		 
	 	 
	 	 <br>
	 	 <br>
		 <button v-on:click="countUp" class="btn btn-primary">Count up</button>
		 <button v-on:click="countDown" class="btn btn-primary">Count Down</button>
	 
	 	 </div>
	</div>
	<!-- Requiring vue.js core file -->
	<script src="asset/js/vue.js"></script>
	<script src="asset/js/vue.script.js"></script>
</body>
</html>